body {
    font-family: 'Poppins', sans-serif, Arial;
    text-align: center;
    background: url('bg.jpeg') no-repeat center center fixed;
    background-color: #f4f4f4;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1, h2 {
    color: #d9534f;
}
button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #c9302c;
}
input, select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.hidden {
    display: none;
}
.account-options {
    margin-top: 10px;
}
.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }
    button {
        width: 100%;
    }
    input, select {
        width: 100%;
    }
}
